
              <footer>
                <div class="footer-links">
                  <a href="/about">About Us</a>
                  <a href="/contact">Contact</a>
                  <a href="#">Privacy Policy</a>
                  <a href="#">Terms & Conditions</a>
                </div>
                <div class="social-media">
                  <a href="#"><i class="fab fa-facebook"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="newsletter">
                  <h3>Subscribe to our newsletter</h3>
                  <input type="email" placeholder="Enter your email">
                  <button>Subscribe</button>
                </div>
              </footer>