    <!-- Header -->
    <header class="admin-header">
      <div class="logo"><a href="/">MyStore Admin</a></div>

      <div class="admin-nav">
        <nav>
          <ul class="header_list">
            <li><a href="/">Home Page</a></li>
          </ul>
        </nav>

      </div>
            <p class="wellcome_message">Welcome Admin, <%= user.username %></p>
    </header>